/* 
    Summer Hacks
    SOA Code Room
    Project Template
    Use this template: https://github.com/SOACodeRoom/summerhacks-projectName/generate
    style.css: You will write your css code for your portfolio website here. You can add other css files too but it must be under "css" folder.
*{

}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #ffd96a;
}


/* background imgs */
.bg-image1 {
  position: relative;
  background-image: url("https://github.com/alokik0112/portfolio.github/blob/main/pexels-connor-danylenko-2538122.jpg?raw=true");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.about-content{
background-color: #f1f864;
}
h1.title1 {
  background-color: #ffd96a;
  /* font-style: inherit; */
  font-family: cursive;
}

h1.meet.me {
  text-decoration-color: black;
  font-family: cursive;
  /*text-shadow: skyblue;*/
  text-align: center;
}
h1.skills {
  font-family: cursive;
  text-decoration-color: black;
  text-align: center;
}

.container2 {
  width: 100%; /* Full width */
  background-color:white; /* Grey background */
  }
  
  
  .skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  */ color: white; White text color */
  }
  
  .html {width: 90%; background-color: #4CAF50;} /* Green */
  .css {width: 60%; background-color: #2196F3;} /* Blue */
  .jv {width: 60%; background-color: #f44336;} /* Red */
  .myC {width: 50%; background-color: #f9c006;} /* Yellow */
  
  .caption{
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    }
    
    .caption span.border{
    background-color:#111;
    color:#fff;
    padding:18px;
    font-size:25px;
    letter-spacing:10px;
    }
    
    h3{
    letter-spacing:5px;
    text-transform:uppercase;
    font:20px "Lato", sans-serif;
    color:#111;
    }

    header {
      height: 65px;
      width: 100%;
      background-color:rgba(34, 49, 52, 0.9);
      position :fixed;
      top: 0;
      z-index: 10;
    }
    
    .logo {
      width: 124px;
      margin-top: 20px;
    }
    
    .header-left {
      float: left;
    }
    
    .header-right {
      float: right;
      margin-right: -25px;
    }
    
    .header-right a {
      line-height: 65px;
      padding: 0 25px;
      color: white;
      display: block;
      float: left;
      transition: all 0.5s;
    }
    
    .header-right a:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  
    span.menu-icon {
      color: white;
      float: right;
      font-size: 25px;
      padding: 21px 0;
      display: none;
    }
  
    .container {
      max-width: 1170px;
      padding: 0 15px;
      margin: 0 auto;
    }
  
    a {
      text-decoration: none;
    }



    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    /* Set a specific color for each brand */
    
    /* Github */
    .fa-github {
      font-size:80px;
      width:50px;
      color: rgb(10, 10, 10);
    }
    
    /* LinkedIn */
    .fa-linkedin {
      padding-left:80px;
      color: rgb(7, 177, 245);
    }
    
    /* about me pic  */
    .responsive {
      width: 100%;
      height: auto;
    }
    
    /* about */
    .max-width1{
      max-width: 1300px;
      padding: 0 80px;
      margin: auto;
    }
    
    .about-content{
      display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .title1{
      position: relative;
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 60px;
      padding-bottom: 20px;
      font-family: 'Ubuntu', sans-serif;
    }
    
    .title1::before{
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 180px;
      height: 3px;
      background: #111;
      transform: translateX(-50%);
    }
    
    title1::after{
      position: absolute;
      bottom: -8px;
      left: 50%;
      font-size: 20px;
      color: crimson;
      padding: 0 5px;
      background: #fff;
      transform: translateX(-50%);
    }
    
    
    .about-content .left{
      width: 45%;
    }
    .about-content .left img{
      height: 400px;
      width: 400px;
      object-fit: cover;
      border-radius: 6px;
    }
    .about-content .right{
      width: 55%;
    }
     .about-content .right .text{
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .about-content .right .text span{
      color: crimson;
    }
     .about-content .right p{
      text-align: justify;
    }
    .about-content .right a{
      display: inline-block;
      background: crimson;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 30px;
      margin-top: 20px;
      border-radius: 6px;
      border: 2px solid crimson;
      transition: all 0.3s ease;
    }
    .about-content .right a:hover{
      color: crimson;
      background: none;
    }
    
    @media (max-width: 1104px) {
       .about-content .left img{
          height: 350px;
          width: 350px;
      }
    }
    
    @media (max-width: 991px) {
      .max-width{
          padding: 0 50px;
      }
    }
    
    @media (max-width: 947px){
      .max-width{
        max-width: 930px;
    }
    .about-content .column{
        width: 100%;
    }
    .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
     .about-content .right{
        flex: 100%;
    }
    }
    
    @media (max-width: 500px) {
      .about-content .right .text{
            font-size: 19px;
        }
    }
    
    /* academics img */
    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .columnac {
      float: left;
      width: 50%;
      padding: 5px;
    }
    
    /* Clear floats after image containers */
    .rowac::after {
      content: "";
      clear: both;
      display: table;
    }
    /* zoom */
    .zoom:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
    }
   
    /* contact section */
      /* Style inputs, select elements and textareas */
      input[type=text], select, textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
      }
      
      /* Style the label to display next to the inputs */
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        color:aquamarine;
      }
      
      /* Style the submit button */
      input[type=submit] {
        background-color:cyan;
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        font-family: cursive;
      }
      
      /* Style the container */
      .container1 {
        border-radius: 5px;
        background-color:#7cbd1e;
        padding: 20px;
      }
      
      /* Floating column for labels: 25% width */
      .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
      }
      
      /* Floating column for inputs: 75% width */
      .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }
    
      /*project*/
    .container3 {
      position: relative;
      max-width: 800px; /* Maximum width */
      margin: 0 auto; /* Center it */
    }
    
    .container3 .content {
      position: absolute; /* Position the background text */
      bottom: 0; /* At the bottom. Use top:0 to append it to the top */
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1; /* Grey text */
      width: 100%; /* Full width */
      padding: 20px; /* Some padding */
    }
    
    /* responsive prject */
    @media screen and (min-width: 601px) {
      .content {
        font-size: 10px;
      }
    }
    
    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    @media screen and (max-width: 600px) {
      .content {
        font-size: 8px;
       
      }
    }
    
    
    /* text */
    @import url(https://fonts.googleapis.com/css?family=Montserrat);
    
    
    
    svg {
        display: block;
        font: 17.7em 'Welcome';
        width: 960px;
        height: 150px;
        margin: 0 auto;
        
    }
    
    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 6% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }
    
    .text-copy:nth-child(1){
      stroke: #0e7243;
      animation-delay: -1;
    }
    
    .text-copy:nth-child(2){
      stroke: #10b934;
      animation-delay: -2s;
    }
    
    .text-copy:nth-child(3){
      stroke: #ffffff;
      animation-delay: -3s;
    }
    
    .text-copy:nth-child(4){
      stroke: #ffffff;
      animation-delay: -4s;
    }
    
    .text-copy:nth-child(5){
      stroke: #c98406;
      animation-delay: -5s;
    }
    
    @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
    }

